NEXT_PUBLIC_CLIENT_ID=get_me_from_google_cloude_console
NEXT_PUBLIC_CLIENT_API_KEY=get_me_from_google_cloude_console💍 
DB_HOST=localhost
DB_USER=your_mysql_user
DB_PASSWORD=use_your_brain
DB_NAME=store_everything
