@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

button {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  background-color: #f3f3f3;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

button:hover{
  background-color: #e6e6e6;
  transition: 0.3s;
  box-shadow: 0 0 10px 0 rgba(247, 73, 73, 0.2);
}
.hide{
  pointer-events: none;
  opacity: 0;
}

.show{
  pointer-events: auto;
  opacity: 1;
}
.menuImage {
  width: 16px;
  height: 16px;
  background: url("../public/assets/menu-open.svg");
  background-position:center;
  background-size: cover;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transition: 0.3s;
    transform: translateX(100%);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    transition: 0.3s;
    transform: translateX(0%);
  }
}
@keyframes slide-in-reverse {
  0% {
    opacity: 0;
    transition: 0.3s;
    transform: translateX(-100%);
  }
}
@keyframes slide-from-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
}

input{
  background-color: #f3f3f3;
  border: 0.2px solid #e6e6e6;
  border-radius: 5px;

}

.scale{
 transition: 0.3s;
 /* transform:scale(1.12); */
}

.scale:hover{
  transition: 0.3s;
  transform:scale(1.12);
}